@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



body {
    margin: 0px;
    width: 100%;
    /* height: 2500px; */
  }
  .header {
    width: 100%;
    background-color: rgb(235, 235, 235);
    border-bottom: 1px solid #dadada;
    display: block;
    text-align: center;
    height: 60px;
    padding-top: 10px;
    flex-wrap: wrap;
  }
  /* .header > img:hover {
    border-radius: 25px;
    box-shadow: 3px 3px rgba(128, 128, 128, 0.4);
    transition: ease 0.6s;
  } */
  .header > img:hover{
    animation: shake 0.5s;
    animation-iteration-count: initial;
    background-color: white;
     transition: ease-in-out 0.4s all;
  }
  .nav-bar {
    width: 100%;
    display: flex;
    justify-content: center;
    /* position: fixed; */
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    z-index: 10;
  }
  .nav-bar > .box1 {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    width: 110px;
    height: 50px;
    text-align: center;
    color: gray;
    padding-top: 55px;
    border-bottom: 7px solid gray;
    padding-bottom: 10px;
  }
  .nav-bar > .box1:hover {
    background-color: gray;
    color: white;
  }
  .nav-bar > .box2 {
    width: 110px;
    height: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-align: center;
    color: gray;
    padding-top: 55px;
    border-bottom: 7px solid red;
    padding-bottom: 10px;
  }
  .nav-bar > .box2:hover {
    background-color: red;
    color: white;
  }
  .nav-bar > .box3 {
    width: 110px;
    height: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-align: center;
    color: gray;
    padding-top: 55px;
    padding-bottom: 10px;
    border-bottom: 7px solid #ECB62F;
  }
  .nav-bar > .box3:hover {
    background-color: #ECB62F;
    color: white;
  }
  .nav-bar > .box4 {
    width: 110px;
    height: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-align: center;
    color: gray;
    padding-top: 55px;
    padding-bottom: 10px;
    border-bottom: 7px solid #ee6b2f;
  }
  .nav-bar > .box4:hover {
    background-color: #ee6b2f;
    color: white;
  }
  .nav-bar > .box5 {
    width: 110px;
    height: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-align: center;
    color: gray;
    padding-top: 55px;
    padding-bottom: 10px;
    border-bottom: 7px solid green;
  }
  .nav-bar > .box5:hover {
    background-color: green;
    color: white;
  }
  .nav-bar > .box6 {
    width: 110px;
    height: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-align: center;
    color: gray;
    padding-top: 55px;
    padding-bottom: 10px;
    border-bottom: 7px solid blue;
  }
  .nav-bar > .box6:hover {
    background-color: blue;
    color: white;
  }
  .nav-bar > .box7 {
    width: 110px;
    height: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-align: center;
    color: gray;
    padding-top: 55px;
    padding-bottom: 10px;
    border-bottom: 7px solid chocolate;
  }
  .nav-bar > .box7:hover {
    background-color: chocolate;
    color: white;
  }
  .box1,
  .box2,
  .box3,
  .box4,
  .box5,
  .box6,
  .box7:hover {
    transition: ease-in-out 0.4s all;
  }
  .images {
    width: 100%;
    height: 500px;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
  }
  .alg {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  .left {
    padding-left: 100px;
  }
  .left > .oneimg > img {
    border-radius: 10px;
  }
  .left > .oneimg {
    width: 580px;
    height: 450px;
    background-color: rgba(187, 187, 22, 0.767);
    border-radius: 10px;
    margin-top: 20px;
  }
  .left > .oneimg > p {
    color: black;
    text-align: center;
    line-height: 1em;
    /* padding-top: -50px; */
    /* padding-bottom: 200px; */
  }
  .left > .oneimg > h3{
    margin-top: 17px;
    line-height: 1em;
  }
  .alg > .twoimg > img {
    border-radius: 10px;
    width: 280px;
  }
  .alg > .twoimg {
    width: 280px;
    height: 225px;
    background-color: rgba(255, 68, 0, 0.37);
    border-radius: 10px;
    margin-top: 20px;
  }
  .alg > .twoimg > h3{
    /* line-height: 1em; */
    text-align:center;
    margin-top: 4px;
  }
  .alg > .threeimg > img {
    border-radius: 10px;
    width: 280px;
  }
  .alg > .threeimg {
    width: 280px;
    height: 250px;
    background-color: gray;
    border-radius: 10px;
    margin-top: 20px;
  }
  .alg > .threeimg > h3 {
    color: white;
    margin-top: 10px;
  }
  .right {
    padding-right: 100px;
  }
  .right > .oneimg > img {
    border-radius: 10px;
    width: 270px;
  }
  .right > .oneimg {
    width: 270px;
    height: 280px;
    background-color: slateblue;
    border-radius: 10px;
    margin-top: 20px;
  }
  .right > .twoimg > img {
    /* width: 250px; */
    padding-left: 0px;
    border-radius: 10px;
  }
  .right > .twoimg {
    width: 270px;
    height: 140px;
    background-color: aqua;
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    justify-content: end;
    /* flex-wrap: wrap; */
  }
  .right > .twoimg > h3 {
    font-size: 23px;
    padding-right: 50px;
  }
  .right > .threeimg > img {
    border-radius: 10px;
    width: 270px;
  }
  .right > .threeimg {
    width: 270px;
    height: 280px;
    background-color: rgba(255, 68, 0, 0.925);
    border-radius: 10px;
    margin-top: 20px;
  }
  .centerimg {
    /* background-color: yellow; */
    /* border: 1px solid black; */
    width: 100%;
    background-color: gray;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* flex-wrap: wrap; */
  }
  .centerimg > .box1 {
    width: 270px;
    height: 330px;
    border: 2px solid rgba(0, 0, 0, 0.637);
    background-color: gray;
  }
  .centerimg > .box1 > img {
    width: 250px;
    height: 250px;
  }
  .centerimg > .box2 {
    width: 270px;
    height: 330px;
    background-color: darkblue;
    border: 2px solid rgba(0, 0, 0, 0.637);
    background-color: gray;
  }
  .centerimg > .box2 > img {
    width: 250px;
    height: 250px;
  }
  .centerimg > .box3 {
    width: 270px;
    height: 330px;
    background-color: chocolate;
    border: 2px solid rgba(0, 0, 0, 0.637);
    background-color: gray;
    transform: scale(1.2);
  }
  .centerimg > .box3 > img {
    width: 250px;
    height: 250px;
  }
  .centerimg > .box4 {
    width: 270px;
    height: 330px;
    background-color: red;
    border: 2px solid rgba(0, 0, 0, 0.637);
    background-color: gray;
  }
  .centerimg > .box4 > img {
    width: 250px;
    height: 250px;
  }
  .button {
    padding-left: 300px;
    font-family: 'Roboto', sans-serif;
  }
  .button > button {
    background-color: gray;
    color: white;
    border-radius: 5px;
    width: 250px;
    padding: 10px;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .centerimg{
    font-family: 'Roboto', sans-serif;
  }
  .centerimg > .box1 > h1 {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 8px;
    background-color: rgba(0, 0, 0, 0.671);
  }
  .centerimg > .box2 > h1 {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 8px;
    background-color: rgba(0, 0, 0, 0.671);
  }
  .centerimg > .box3 > h1 {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 8px;
    background-color: rgba(0, 0, 0, 0.671);
  }
  .centerimg > .box4 > h1 {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 8px;
    background-color: rgba(0, 0, 0, 0.671);
  }
  .centrrbutn {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    margin-right: 120px;
  }
  .centrrbutn > button {
    background-color: black;
    color: white;
    border-radius: 7px;
    font-style: italic;
    width: 250px;
    padding: 10px;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .right {
    padding-right: 70px;
  }
  .leftone > .oneimg > img {
    border-radius: 10px;
    width: 270px;
  }
  .leftone > .oneimg {
    width: 270px;
    height: 330px;
    text-align: center;
    background-color: gray;
    border-radius: 10px;
    margin-top: 20px;
  }
  .leftone > .oneimg > h3 {
    color: white;
  }
  .leftone > .threeimg > img {
    border-radius: 10px;
    width: 270px;
  }
  .leftone > .threeimg {
    width: 270px;
    height: 320px;
    text-align: center;
    background-color: rgba(0, 0, 255, 0.548);
    border-radius: 10px;
    margin-top: 20px;
  }
  .leftone > .threeimg > h3 {
    color: white;
  }
  .right {
    padding-right: 70px;
  }
  .centerlastsecond > .oneimg > img {
    border-radius: 10px;
    width: 270px;
  }
  .centerlastsecond > .oneimg {
    width: 270px;
    height: 360px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.774);
    border-radius: 10px;
    margin-top: 20px;
  }
  .centerlastsecond > .oneimg > h3 {
    color: white;
  }
  .centerlastsecond > .oneimg > p {
    color: rgba(255, 255, 255, 0.87);
    font-style: oblique;
  }
  .centerlastsecond > .twoimg > img {
    width: 250px;
    padding-left: 150px;
  }
  .centerlastsecond > .twoimg {
    width: 270px;
    height: 110px;
    text-align: center;
    background-color: aqua;
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
  }
  .centerlastsecond > .threeimg > img {
    border-radius: 10px;
    width: 270px;
  }
  .centerlastsecond > .threeimg {
    width: 270px;
    height: 310px;
    text-align: center;
    background-color: #ECB62F;
    border-radius: 10px;
    margin-top: 20px;
  }
  .centerlastsecond > .threeimg > h3 {
    color: white;
  }
  .right {
    padding-right: 70px;
  }
  .rightone > .oneimg > img {
    border-radius: 10px;
    width: 270px;
  }
  .rightone > .oneimg {
    width: 270px;
    height: 320px;
    text-align: center;
    background-color: rgba(0, 128, 0, 0.596);
    border-radius: 10px;
    margin-top: 20px;
  }
  .rightone > .oneimg > h3 {
    color: white;
  }
  /* .rightone>.twoimg>img{
      width: 250px;
      padding-left: 150px;
      
  
  } */
  .rightone > .twoimg {
    width: 270px;
    height: 50px;
    text-align: center;
    background-color: orangered;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  
    margin-top: 20px;
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
  }
  .rightone > .twoimg > h3 {
    color: white;
  }
  .rightone > .twoimg > h3 {
    padding-right: 96px;
  }
  .rightone > .twoimg1 {
    width: 270px;
    height: 60px;
    text-align: center;
    background-color: rgba(128, 0, 128, 0.575);
    text-align: center;
    display: flex;
    justify-content: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 100px;
    /* margin-top: 20px; */
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
  }
  .rightone > .twoimg > h3 {
    color: white;
  }
  .rightone > .twoimg1 > p {
    padding-left: 10px;
    text-align: left;
  }
  .rightone > .threeimg > img {
    border-radius: 10px;
    width: 270px;
  }
  .rightone > .threeimg {
    width: 270px;
    height: 320px;
    text-align: center;
    background-color: rgba(220, 20, 60, 0.678);
    border-radius: 10px;
    margin-top: 20px;
  }
  .rightone > .threeimg > h3 {
    color: white;
  }
  .lastimg {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
  }
  .footer {
    width: 100%;
    /* height: 500px; */
    background-color: rgba(0, 0, 0, 0.877);
    display: flex;
    /* justify-content: space-around; */
    
    padding-top: 30px;
    color: white;
    font-family: 'Roboto', sans-serif;
  }
  .footer > .formleft{
    width: 50%;
  }
  .footer > .formright{
    width: 50%;
    font-size: 18px;
    margin-left: 80px;
    padding-top: 30px;
    line-height: 1em;
  }
  .footerlast {
      width: 100%;
      font-family: 'Roboto', sans-serif;
    background-color: rgba(0, 0, 0, 0.877);
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 20px;
  }
  .onecompany {
    color: white;
    font-size: 12px;
    margin-left: 350px;
  }
  .footericontwo > img {
    width: 35px;
  }
  .footerthree > img {
    width: 200px;
    border-radius: 5px;
  }
  .footerthree {
    color: white;
    font-size: 12px;
    margin-right: 350px;
  }

  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
  .footer > .formleft > h1{
    width: 350px;
    font-size: 23px;
    margin-left: 360px;
  }
  .footer > .formleft > .email> input{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    background-color: white;
    color: black;
    margin-left: 360px;
    border-radius: 6px;
    width: 420px;
    height: 40px;
  }
  .footer > .formleft > select{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    background-color: white;
    margin-left: 360px;
    border-radius: 6px;
    width: 210px;
    height: 40px;
    
  }
  .footer > .formleft > input{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    background-color: white;
    border-radius: 6px;
    width: 200px;
    height: 40px;
  }
  .footer > .formleft > button{
    background-color: gray;
    border-radius: 6px;
    margin-left: 360px;
    width: 140px;
    height: 50px;
    font-family: Roboto;
    font-size: 17px;
    color: white;
  }
  .footer > .formleft > button:hover{
    background-color: rgb(255, 253, 253);
    color: black;
    transition: ease-in-out 0.4s all;
  }

  